<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HelpDesk</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/site")
</head>
<body>
    <div class="container-fluid">
        <div class="row" id="row-main">
            <div class="page-header" id="HelpDesk">
                <h2><a href="/Inicio/Index">HelpDesk</a></h2>
            </div>
            <div class="col-md-3" id="side-left">
                <div class="card-group" id="accordion">
                    <div class="card-header">
                        <span class="card-title">
                            <a href="/Solicitudes/Index">Solicitudes </a>
                            <a data-toggle="collapse" data-parent="#accordion" href="#Solicitudes" class="">
                                <i class="fa fa-caret-down"></i>
                            </a>
                        </span>

                    </div>
                    <div id="Solicitudes" class="panel-collapse collapse">
                        <div class="card-block">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><a href="#">Accion1</a></li>
                                <li class="list-group-item"><a href="#">Accion2</a></li>
                                <li class="list-group-item"><a href="#">Accion3</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-header">
                        <span class="card-title">
                            <a href="">Soluciones </a>
                            <a data-toggle="collapse" data-parent="#accordion" href="#Soluciones" class="">
                                <i class="fa fa-caret-down"></i>
                            </a>
                        </span>

                    </div>
                    <div id="Soluciones" class="panel-collapse collapse">
                        <div class="card-block">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><a href="#">Accion1</a></li>
                                <li class="list-group-item"><a href="#">Accion2</a></li>
                                <li class="list-group-item"><a href="#">Accion3</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-header">
                        <span class="card-title">
                            <a href="">Administracion </a>
                            <a data-toggle="collapse" data-parent="#accordion" href="#Administracion" class="">
                                <i class="fa fa-caret-down"></i>
                            </a>
                        </span>

                    </div>
                    <div id="Administracion" class="panel-collapse collapse">
                        <div class="card-block">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><a href="#">Accion1</a></li>
                                <li class="list-group-item"><a href="#">Accion2</a></li>
                                <li class="list-group-item"><a href="#">Accion3</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9" id="content">
                @*<p class="pull-right">Hello, @User.Identity.Name!</p>    e6e6e6*@
                @RenderBody()
                Contentido
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
