<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/site")
</head>
<body>
    <div class="container-fluid" style="background-color: #e6e6e6">
        <div class="row" style="padding: 5px 15px 5px 15px">
            <div class="col-md-3" style="background-color: #ffffff;">
                <h1>HelpDesk</h1>
                @*
                    para chequear
                *@

                <div class="card-group" id="accordion">
                    <div class="card-header">
                        <span class="card-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#Solicitudes" class="">
                                Solicitudes
                            </a>
                        </span>

                    </div>
                    <div id="Solicitudes" class="panel-collapse collapse">
                        <div class="card-block">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><a href="#">Accion1</a></li>
                                <li class="list-group-item"><a href="#">Accion2</a></li>
                                <li class="list-group-item"><a href="#">Accion3</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-header">
                        <span class="card-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#Soluciones" class="">
                                Soluciones
                            </a>
                        </span>

                    </div>
                    <div id="Soluciones" class="panel-collapse collapse">
                        <div class="card-block">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><a href="#">Accion1</a></li>
                                <li class="list-group-item"><a href="#">Accion2</a></li>
                                <li class="list-group-item"><a href="#">Accion3</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-header">
                        <span class="card-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#Administracion" class="">
                                Administracion
                            </a>
                        </span>

                    </div>
                    <div id="Administracion" class="panel-collapse collapse">
                        <div class="card-block">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><a href="#">Accion1</a></li>
                                <li class="list-group-item"><a href="#">Accion2</a></li>
                                <li class="list-group-item"><a href="#">Accion3</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                @*
                    para chequear
                *@


            </div>

            <div class="col-md-9" style="background-color: #ffffff;">
                <p class="pull-right">Hello, @User.Identity.Name!</p>
                @RenderBody()
                Contentido
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
