<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HelpDesk</title>
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/Site")

    @{
        string username = Request.LogonUserIdentity.Name.Substring(Request.LogonUserIdentity.Name.LastIndexOf(@"\") + 1);
    }
</head>
<body style="padding: 10px;">
    <div class="container-fluid">
        <nav class="navbar navbar-dark bg-primary navbar-full navbar-fixed-top" id="custom-m">
            <a class="navbar-brand" href="/Home/Index">HelpDesk/HD</a>

            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#menuResponsive">
                &#9776;
            </button>

            <div class="collapse navbar-toggleable-md" id="menuResponsive">
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Solicitudes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Soluciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Informes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Administracion</a>
                    </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                @username
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-item"><a href="#">Cuenta</a></li>
                                <li class="dropdown-item"><a href="#">Salir</a>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-cog"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-item"><a href="#">Eso</a></li>
                            </ul>
                        </li>
                    </ul>

                @*<form class="pull-xs-right input-group col-sm-2">
        <input class="form-control" type="text" placeholder="Buscar">
        <span class="input-group-btn">
            <a href="#" class="btn btn-primary fa fa-search" type="submit">
            </a>
        </span>  navbar-right
    </form>*@
            </div>
        </nav>

        <div class="row" id="content">
            @*<p class="pull-right">Hello, @User.Identity.Name!</p>    e6e6e6*@
            @RenderBody()
            Contentido
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>